@charset "UTF-8";

*{
padding: 0px;
margin: 0px;
font-family: Arial, Helvetica, sans-serif;

}

body{
    
    width: 100vw;
    height: 100vh;
    background-image: url(../imagens/ded.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
header{
padding: 5px;
padding-bottom: 9px;
background-image: linear-gradient(to top,rgba(32, 77, 6, 0.904),rgba(25, 133, 92, 0.603));
height: 20vh;
min-height: 100px;
max-height: 150px;
}

header h1{
    color: aliceblue;
    text-align: center;
}
header p{
    text-align: center;
    color: rgb(196, 135, 44);
    font-size: 1.5em;
}

strong:hover{
    color: rgb(208, 219, 52);
    transition-duration:0.2s ;
    font-size: 1.6em;
}

div{
    height: 25px;
}


nav{
    background-image: linear-gradient(to bottom, rgba(32, 77, 6, 0.904), rgb(32, 77, 6));
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.300);
}

nav a{
    text-decoration: none;
    color: rgb(64, 155, 112);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;

}

nav a:hover{
color: rgb(182, 235, 180);
text-decoration: underline;
}


main{

    background-image: linear-gradient(to right,rgba(8, 124, 108, 0.445),rgba(57, 138, 170, 0.322));
margin: auto;
max-width: 480px;
}

main p{
    padding: 10px;
    text-align: justify;
    color: aliceblue;
}
footer{
    height: 30px;
    padding-top: 5px;
background-color: rgba(9, 71, 71, 0.651);
}
footer p{
    text-align: center;
    color: aliceblue;
}